In [4]:
import pandas as pd
import utils

In [9]:
# Seaborn for plotting and styling
import seaborn as sb
df = sb.load_dataset('tips')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [12]:
df[['day','time','tip','smoker']].agg_df()

     day    time smoker     tip
0   Thur   Lunch    Yes   51.51
1   Thur   Lunch     No  117.32
2   Thur  Dinner    Yes    0.00
3   Thur  Dinner     No    3.00
4    Fri   Lunch    Yes   13.68
5    Fri   Lunch     No    3.00
6    Fri  Dinner    Yes   27.03
7    Fri  Dinner     No    8.25
8    Sat   Lunch    Yes    0.00
9    Sat   Lunch     No    0.00
10   Sat  Dinner    Yes  120.77
11   Sat  Dinner     No  139.63
12   Sun   Lunch    Yes    0.00
13   Sun   Lunch     No    0.00
14   Sun  Dinner    Yes   66.82
15   Sun  Dinner     No  180.57